<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Clients</title>
    </head>
    <body>
        <h1>{{ stylist.getName }}'s Clients</h1>

        <h2>Add a new Client</h2>
        <form action="/create_client" method="post">
            <input name="stylist_id" type="hidden" value="{{ stylist.getId }}">
            <label for="name">Name:</label>
            <input type="text" name="name">
            <button type="submit">Add New Client</button>
        </form>

        {% if clients is not empty %}
            <hr>
            <h3>Clients:</h3>

            <ul>
                {% for client in clients %}
                    <hr>
                    <li>{{ client.getName }}</li>
                    <li><a href="/clients/{{ client.getId }}/update">Edit</a></li>
                    <li>
                        <form action="/clients/{{ client.getId }}" method="post">
                            <input type="hidden" name="_method" value="delete">
                            <button type="submit">Delete Client</button>
                        </form>
                    </li>
                    <hr>
                {% endfor %}
            </ul>
        {% endif %}

        <a href="/">Home</a>
    </body>
</html>
